.group {
    display: flex;
    gap: 16px;
    padding-bottom: 20px;
    overflow: scroll;
    /* overflow: scroll; só vai funcionar se usar o flex-shrink: 0; no card */
}

.group:last-of-type {
    margin-bottom: 92px;
}